@import "../style/index";

input {
  min-width: 300px !important;
  min-height: 4em !important ;
}

textarea {
  font-size: 1em;
}
input,
textarea {
  cursor: text;
}
ul {
  list-style: none;
  li {
    margin-left: 2em;
  }
}
* {
  border-color: white;
  outline: white;
}
li {
  margin-block: 1em !important;
}
h2 {
  input {
    font-size: 1.5em !important;
  }
}
h3 input {
  font-size: 1.2em !important;
}
h2,
h3 {
  margin-block: 1em !important;
}
input {
  color: white !important;
}
body {
  color: rgb(0, 0, 0);
  font-size: 1.7em;
}
.updateCRO__wrapper {
  width: 60vw;
  padding: 3em;
  display: grid;
  gap: 2em;

  .settings_container {
    background: rgb(52, 124, 233);
    // padding: 3em;
    border-radius: 15px;
    box-shadow: 2px 2px 6px -1px $blue;

    .checklist {
      padding: 2em;
      border: 1px solid white;
      margin-block: 2em;

      .question {
        margin-bottom: 1em;
        padding: 1em;
        border: 1px solid white;
      }
      h2 {
        input {
          font-size: 2em !important;
          height: unset !important;
        }
      }
    }
  }
}
